h1{
    font-style: italic;
    color: aliceblue;
    font-size: 4em;
}

.center{
    text-align: center;
}

#fundo{
    background-image: url(https://static.tumblr.com/820ce4478b5ca79faff71a6efb3026d4/pzhkz5o/5lFooat9z/tumblr_static_filename_640_v2.gif); 
    background-attachment: fixed;
}

h2{
    text-decoration: line-through;
    font-size: 2em;
}

#branco{
    color: white;
    size: 20%;
}

h3{
    text-decoration: line-through;
    font-size: 2em;
}
#rosa{
    color: rgb(243, 106, 197);
    size: 20%;
}
#personagens {
    margin-left: 10em;
    margin-right: 10em; 
}
